* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width:100%;
    height: 80px;
    background-color: rgba(146, 138, 190, 0.856);
    align-items: center;
}

.links{
    display: flex;
}

.links li {
    padding-right: 10px;
}
li {
    list-style-type: none;
}

.right {
    padding-left: 10px;
}

.doctor-NavBar {
 
  
    
    width : 100%;
    display: flex;
}

.static-navBar {
    width: 20%;
    background-color: rgba(146, 138, 190, 0.856);
   height: 100vh;
 
}


.static-navBar div {

    padding: 10px;
    width : 100%;
    text-align: center;
  
}

.static-navBar div:hover {
    background-color: aqua;
}


.response {
    display: flex;
   width:80%;
    flex-wrap: wrap;
}

.response div {
   
    padding : 20px;
}
.patient-items {
    display: flex;
    flex-wrap: wrap;
};

.patient {
    width:30%;
}

.show {
    background-color: aqua;
}

.filtered{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.loginMenu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    justify-content: center;
}
.loginMenu h1 {
    font-size: 45px;
}

.loginForm {
    width: 80%;
    text-align: center;
    font-size : 18px;
}

.loginForm label input {
    display : block;
}

.email label {
    display: block;
    font-size: 20px;
    
}
.email span {
    position : absolute;
    padding-left : 15px;
    color: red;
    font-size: 22px
}
.password span {
    position : absolute;
    padding-left : 15px;
    color: red;
    font-size: 22px
}

.password label {
    display : block;
    font-size : 20px
}

.email input {
    width: 30%;
    height: 40px;
    border-radius: 6px;
    border-color: rgba(15, 15, 17, 0.856);
    font-size : 18px;   
}
.password input {
    width: 30%;
    height: 40px;
    border-radius: 6px;
    border-color : black;
}

#submit{
    width : 20%;
    height : 30px;
    margin-top: 10px;
}